.breadcrumbs__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 15px;
}
  
.breadcrumbs__link {
    font-family: 'Crimson Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;
}
  
.breadcrumbs__link::after {
    content: "";
    background-image: url('../img/icon/vector_contact.svg');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 8px;
    height: 12px;
    padding-left: 48px;
}
  
.breadcrumbs__list-item:last-child .breadcrumbs__link::after {
    display: none;
}
  
.breadcrumbs__list-item:last-child {
    opacity: 0.5;
}

.link-blog {
    padding-left: 5px;
}