.footer {
  display: flex;
  background-color: #434343;
}

.footer__box {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: $media-tablet) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media (max-width: $media-mobile) {
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 375px;
  }
}

.footer__navigation {
  @media (max-width: $media-mobile) {
    padding-left: 20px;
    padding-bottom: 25px;
  }
}

.footer__navigation__name {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
  border-bottom: 1px solid #666666;
  padding-bottom: 23px;
  margin-bottom: 28px;
  padding-right: 300px;
  @media (max-width: $media-tablet) {
    padding-right: 123px;
  }
  @media (max-width: $media-mobile) {
    padding-right: 255px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.footer__navigation__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (max-width: $media-mobile) {
    flex-wrap: wrap;
    height: 105px;
  }
}

.footer__link {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer__link:hover {
  opacity: 0.5;
}

.footer__link:active {
  opacity: 0.2;
}

.footer__information {
  padding-left: 20px;
}

.footer__information__name {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
  border-bottom: 1px solid #666666;
  padding-bottom: 23px;
  margin-bottom: 28px;
  padding-right: 213px;
  @media (max-width: $media-tablet) {
    padding-right: 35px;
  }
  @media (max-width: $media-mobile) {
    padding-right: 168px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.footer__information__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (max-width: $media-mobile) {
    flex-wrap: wrap;
    height: 105px;
  }
}

.footer__connect {
  padding-left: 20px;
  @media (max-width: $media-tablet) {
    padding-top: 0px;
  }
  @media (max-width: $media-mobile) {
    padding-top: 60px;
  }
}

.footer__connect__name {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
  border-bottom: 1px solid #666666;
  padding-bottom: 23px;
  padding-right: 318px;
  margin-bottom: 25px;
  @media (max-width: $media-tablet) {
    padding-right: 140px;
  }
  @media (max-width: $media-mobile) {
    padding-right: 273px;
  }
}

.footer__connect__wrapper {
  display: flex;
  @media (max-width: $media-tablet) {
    width: 100%;
  }
}

.footer__connect__email {
  height: 40px;
  width: 299px;
  border: none;
  background-color: #666666;
  @media (max-width: $media-tablet) {
    max-width: 121px;
  }
  @media (max-width: $media-mobile) {
    max-width: 263px;
  }
}

.footer__connect__email:hover, 
.footer__connect__email:active {
  border: 1px solid #FFFDFD;
}

.footer__connect__email::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #EBEBEB;
  padding: 9px 15px;  
}

.footer__media-icons {
  padding-top: 25px;
}

.footer__media-icons__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.footer__media-icons__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;    
  border-radius: 15px;
  background-color: #666666;
}

.footer__media-icons__link:hover {
  opacity: 0.5;
}

.footer__media-icons__link:active {
  opacity: 0.2;
}

.footer__rating-box {
  display: flex;
  border-top: 1px solid #666666;
  padding-top: 23px;
  margin-top: 28px;
  width: 100%;
  @media (max-width: $media-tablet) {
    flex-wrap: wrap;
  }
  @media (max-width: $media-mobile) {
    padding-top: 24px;
    margin-top: 60px;
  }
}

.footer__rating {
  display: flex;
}

.footer__rating__group {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 150px;
  height: 16px;
  padding-top: 5px;
  @media (max-width: $media-tablet) {
    margin-bottom: 15px;
  }
  @media (max-width: $media-mobile) {
    margin-right: auto;
    margin-left: 20px;
  }
}

.footer__rating__caption {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  @media (max-width: $media-mobile) {
    margin-left: 20px;
    margin-bottom: 15px;
  }
}

.footer__rating__caption-web {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #A2A2A2;
  padding-left: 109px;
  @media (max-width: $media-tablet) {
    padding-left: 43px;
  }
  @media (max-width: $media-mobile) {
    padding-left: 20px;
  }
  
}

.footer__rating__caption-web:hover, 
.footer__rating__caption-web:active {
  text-decoration-line: underline;
  color: #FFFFFF;
}

.rating-5 {
  margin-left: 28px;
}

.rating__star {
  position: absolute;
  display: none;
  margin: 0;
}

.label-rating {  
  background-image: url('../img/icon/star.svg');
  background-repeat: no-repeat;    
  background-size: contain; 
  background-size: 15px 13px;
  width: 15px;
  height: 13px;
  margin-right: 5px;
  padding-right: 15px;
}

.rating__star:checked,
.rating__star:checked ~ .label-rating {
  background-image: url('../img/icon/star-checked.svg');
}

.rating__star:hover,
.rating__star:hover ~ .label-rating {
  background-image: url('../img/icon/star-hover.svg');
}

.footer__rating__group:hover,
.footer__rating__group:active {
  color: #C29974;
  cursor: pointer;
}
