.header__change {
    transition: 0.4s;
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 0.2;
    }
  }

.header__list-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-right: 20px;
}