.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__list {
        display: flex;
        justify-self: center;
        align-items: center;
        gap: 64px;
        @media (max-width: $media-mobile) {
            gap: 51px;
        }
    }
    &__number {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #1E0606;
        transition: 0.4s;
        @media (max-width: $media-mobile) {
            font-size: 14px;
            line-height: 17px;
        }
        &:hover {
            color: #AAAAAA;
        }
        &:active {
            color: #AAAAAA;
        }
    }
    &__number-active {
        color: #C29974;
        padding-right: 5px;
        @media (max-width: $media-mobile) {
            padding-right: 1px;
        }
    }
}

.pagination__vector {
    @media (max-width: $media-mobile) {
        width: 12px;
        height: 24px;
    }
}

.path {
    transition: 0.4s;
    &:hover {
        stroke: #C29974;
        stroke-opacity: 1;
    }
    &:active {
        stroke: #C29974;
        stroke-opacity: 0.7;
    }
}