html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-base-family;
  height: 100%;
  margin: 0;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.undotted {
  list-style-type: none;
}

label {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.title-hidden {
  visibility: hidden;
  max-width: 0;
  max-height: 0;
}

.title {
  font-family: 'Montserrat', sant-serif;
  font-style: normal;
  font-weight: 700;
  color: #1E0606;    
}

.text__decorative {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}