.category {
  margin-top: 60px;
  margin-bottom: 55px;
  &__title {
    font-family: 'Montserrat', sant-serif;
    font-style: normal;
    font-weight: 700;
    color: #1E0606; 
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    column-gap: 20px;
    row-gap: 23px;
    &--empty {
  width: 180px;
}
  }
}
  
.description {
  padding-left: 200px;
  padding-right: 300px;
  margin-bottom: 55px;
  &__title {
    font-family: 'Montserrat', sant-serif;
    font-style: normal;
    font-weight: 700;
    color: #1E0606; 
    font-size: 38px;
    line-height: 46px;
    padding-bottom: 10px;
  }
  &__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    padding-top: 15px;
  }
}