.contact {
    &__title {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        text-transform: uppercase;
        color: #1E0606;
        margin: 0 auto;
        word-spacing: 16px;
        margin-top: 60px;
    }
    &__wrapper {
        display: flex;
        margin-top: 50px;
        margin-bottom: 61px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        padding-left: 120px;
    }
    &__subtitle {
        visibility: hidden;
        max-width: 0;
        max-height: 0;
    }
    &__text {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #1E0606;
        padding-bottom: 20px;
    }
    &__info-text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        color: #C29974;
    }
}