<!-- нужно ли в header выносить что то в include? -->

<header class="header container">
    <a href="/" class="header__link header__change">
      <img src="./img/icon/Logo.svg" alt="logo" class="header__logo"></a>
    <nav class="header__nav header__left">
      <ul class="header__list">
        <li class="header__list-item undotted header__change"><a href="blog.html" class="header__list-link">BLOG</a></li>
        <li class="header__list-item undotted header__change"><a href="catalog.html" class="header__list-link">CATALOG</a></li>
        <li class="header__list-item undotted header__change"><a href="#" class="header__list-link">ABOUT US</a></li>
      </ul>
    </nav>
    <ul class="header__list header-search">
      <li class="header__list-item header-search undotted header__change"><a href="#" class="header__list header-link"><img src="./img/icon/search.svg" alt="search" class="header__list header-link-search"></a></li>
      <li class="header__list-item header-search undotted header__change"><a href="contact.html" class="header__list-search">CONTACT US</a></li>
    </ul>
</header>