<header class="header container">
    <a href="/" class="header__link header__change">
      <img src="./img/icon/Logo.svg" alt="logo" class="header__logo"></a>
    <nav class="header__nav header__left">
      <ul class="header__list">
        @@include('blocks/header-item.html', {
          "link": "blog.html",
          "name": "BLOG"
        })
        @@include('blocks/header-item.html', {
          "link": "catalog.html",
          "name": "CATALOG"
        })
        @@include('blocks/header-item.html', {
          "link": "#",
          "name": "ABOUT US"
        })
        @@include('blocks/header-item.html', {
          "link": "animation.html",
          "name": "ANIMATION"
        })
        @@include('blocks/header-item.html', {
          "link": "svg.html",
          "name": "SVG"
        })
      </ul>
    </nav>
    <button class="header__menu">MENU</button>
    <ul class="header__list">
      <li class="header__list-item undotted header__change"><a href="#"><img class="header__icon" src="./img/icon/search.svg" alt="search" width="17" height="17"></a></li>
      <li class="header__list-item undotted header__change"><a href="contact.html" class="header__list-search">CONTACT US</a></li>
    </ul>
</header>