<div class="pagination">
    <a href="">
      <svg class="pagination__vector" width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 2L3 15L16 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4"/>
      </svg></a>
    <div>
      <ul class="pagination__list">
        <li><a class="pagination__number undotted number-active" href="#">1</a></li>
        <li><a class="pagination__number undotted" href="#">2</a></li>
        <li><a class="pagination__number undotted" href="#">3</a></li>
        <li><a class="pagination__number undotted" href="#">4</a></li>
      </ul>                      
    </div>
    <a href="">
      <svg class="pagination__vector" width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 2L15 15L2 28" stroke="#1E0606" stroke-opacity="0.12" stroke-width="4"/>
      </svg></a>
</div>